In [46]:
import pandas as pd
import numpy as np

In [47]:
list = [10, 20, 15]

print(a[0]) 
list.append(11) 
list.remove(20) 

print(list)

10
[10, 15, 11]

In [48]:
tup = ('Geeks', 'For')
print(tup)

('Geeks', 'For')

In [49]:
set1 = {1, 2, 3, 4}
print(set1)

{1, 2, 3, 4}

In [50]:
data=pd.read_csv('data.csv')
data

   ID  Value1  Value2  Value3
0   1      10      50    25.0
1   2      15      20     NaN
2   3      10      30    35.0
3   4      20      10    40.0
4   5      25      50     NaN

In [51]:
x = data.iloc[:,:-1]
y = data.iloc[:,-1].values.reshape(-1,1)

In [52]:
x

   ID  Value1  Value2
0   1      10      50
1   2      15      20
2   3      10      30
3   4      20      10
4   5      25      50

In [53]:
y

array([[25.],
       [nan],
       [35.],
       [40.],
       [nan]])

In [54]:
import re

In [55]:
txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [56]:
txt = "The rain in Spain"
x = re.findall("Portugal", txt)
print(x)

[]

In [57]:
txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
C:\Users\Pranav Rangate\AppData\Local\Temp\ipykernel_11224\2893921244.py:2: SyntaxWarning: invalid escape sequence '\s'
  x = re.search("\s", txt)

In [58]:
txt = "The rain in Spain"
x = re.search("Portugal", txt)
print(x)

None

In [59]:
txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
C:\Users\Pranav Rangate\AppData\Local\Temp\ipykernel_11224\2391965799.py:2: SyntaxWarning: invalid escape sequence '\s'
  x = re.split("\s", txt)

In [60]:
txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
C:\Users\Pranav Rangate\AppData\Local\Temp\ipykernel_11224\3492772446.py:2: SyntaxWarning: invalid escape sequence '\s'
  x = re.sub("\s", "9", txt)

In [61]:
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())

(12, 17)

In [62]:
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.group())

Spain

In [63]:
txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)
if x:
  print("YES! We have a match!")
else:
  print("No match")

YES! We have a match!